[submodule "oe-core"]
	path = oe-core
	url = https://github.com/openembedded/openembedded-core
[submodule "meta-oe"]
	path = meta-oe
	url = https://github.com/openembedded/meta-openembedded
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
[submodule "meta-ccc"]
	path = meta-ccc
	url = https://github.com/Embedded-Development-EIS/meta-ccc
